<div class="profile-container">
  <h1>User info</h1>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th class="profile-name"><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th class="profile-introduction"><%= user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <th class="profile-followscount"><%= user.follower.count %></th>
      </tr>
      <tr>
        <th>followers</th>
        <th class="profile-followerscount"><%= user.followed.count %></th>
      </tr>
    </tbody>
  </table>
    
    <% if user.id == current_user.id %>
      <div class="row">
        <%= link_to "", edit_user_path(user), class: 'btn btn-outline-secondary btn-block btn-lg fas fa-user-cog' %>
      </div>
    <% end %>
    
    <% if user.id != current_user.id %>
      <% if current_user.following?(user) %>
        <div class="row">
          <%= link_to "フォロー外す", unfollow_path(user.id), method: :POST, class: 'btn btn-info' %>
        </div>
      <% else %>
        <div class="row">
          <%= link_to "フォローする", follow_path(user.id), method: :POST, class: 'btn btn-success' %>
        </div>
      <% end %>
    <% end %>

</div>